*{box-sizing: border-box}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto/Roboto-Medium.woff2") format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}



@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

body,html {
    border: 0;
    padding: 0;
    margin: 0;
    height: 300px;
    width: 400px;
    overflow-x: hidden;
    background: #fff;
    font-family: Vazir,'Material Icons', "Roboto",tahoma;
    font-size: 15px;
    background: linear-gradient(225deg, #292942, #046474);
}

#header_name{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 2px #222;
    background: linear-gradient(105deg, #00b284, #006ab2);;
    padding: 5px 0;
}

.budget .content{
    text-align: center;

}


.indicator{
    background: #00BCD4 !important;
    height: 3px !important;
}


.tabs a{
    color: #046474 !important;
}
.tabs{
    background: rgba(255,255,255,.9) !important;
    box-shadow: 0 0 0 0 !important;
}

.tab a{
    color: #fff;
}


/*==========================================================*/
.pull-left{float:left}
.pull-right{float:right}

/* Budget */
.budget-wrap{
    padding:3px 0 10px 0;
}

.switch label{
    font-size: 15px !important;
    color:#fff;
}

#range_inp{
    margin: 5px;
}


