
@font-face {
font-family: Vazir;
src: url('Vazir.eot');
src: url('Vazir.eot?#iefix') format('embedded-opentype'),
url('Vazir.woff') format('woff'),
url('Vazir.ttf') format('truetype');
font-weight: normal;
}

body,html {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #EFEFEF;
    font:300 18px/18px Vazir;
}

#header_name{
    text-align: center;
    font-size: 36px;
    color: #EFEFEF;
    text-shadow: 0 0 2px  #222;
}

/*==========================================================*/

*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.rangeslider,
.rangeslider__fill {
    display:block;
    border-radius:10px;
}

.rangeslider {
    position:relative;
}
.rangeslider:after{
    top:50%;
    left:0;
    right:0;
    content:'';
    width:100%;
    height:5px;
    margin-top:-2.5px;
    border-radius:5px;
    position:absolute;
    background:#212131;
}

.rangeslider--horizontal{
    width:100%;
    height:28px;
}

.rangeslider--vertical{
    width:5px;
    min-height:150px;
    max-height:100%;
}
.rangeslider--disabled{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity:0.4;
}

.rangeslider__fill{
    position:absolute;
    background:#22A7F0;
}
.rangeslider--horizontal .rangeslider__fill{
    top:0;
    height:100%;
}
.rangeslider--vertical .rangeslider__fill{
    bottom:0;
    width:100%;
}

.rangeslider__handle{
    top:50%;
    width:28px;
    height:28px;
    cursor:pointer;
    margin-top:-14px;
    position:absolute;
    background: #19B5FE;
    border-radius:50%;
    display:inline-block;
}
.rangeslider__handle:active{
    background:#22A7F0;
}

.rangeslider__fill,
.rangeslider__handle{
    z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
    top:50%;
    height:5px;
    margin-top:-2.5px;
}

/* Budget */
.budget-wrap{
    padding:40px;
    padding-top:10px;
    background:#292942;
    box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
    height: 100%;
}
.budget-wrap .header .title{
    color:#fff;
    font-size:18px;
    margin-bottom:30px;
}
.budget-wrap .header .title .pull-right{
    color:#22A7F0;
    font-size:24px;
    font-weight:400;
}
.budget-wrap .footer{
    margin-top:30px;
}
.budget-wrap .footer .btn{
    color:inherit;
    padding:12px 24px;
    border-radius:50px;
    display:inline-block;
    text-decoration:none;
}
.budget-wrap .footer .btn.btn-def{
    color:#525263;
}
.budget-wrap .footer .btn.btn-pri{
    color:#eee;
    background:#22A7F0;
}